.w-100 {
	width: 100%;
}

.mb {
	margin-bottom: 30px;
}

.ml-10 {
	margin-left: 10px;
}

.left-menu li {
	padding: 10px 0;
}

.left-menu li a span {
	margin-left: 10px;
}

.left-menu li:hover {
	background: #e1f5fe;
}


/*PROFILE*/


.profile-card-image img {
	margin: 20px 0;
}

.profile-btn {
	padding: 0 98px;
}

.profile-friends h5 {
	padding: 20px 0 0 20px;
}

.profile-friends p {
	margin-top: 0;
}

.profile-friends .row {
	margin-bottom: 0;
}

.prolile-liella {
	margin-top: 20px;
}
.fs28 {
	font-size: 28px;
}

.m0 {
	margin: 0;
}

.mb0 {
	margin-bottom: 0;
}

.news {
	padding: 20px;
}

.info-news span {
	margin-left: 10px;
}

.pbl {
	padding-bottom: 0 !important;
	padding-left: 0 !important;
}

/*EVENTS*/

.search-input {
    margin-top: 60px !important;
}

.card-image {
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px;
}

.card-title {
	background: #7F7F7F;
	opacity: 0.7;
	margin: 0;
	left: 0;
	right: 0;
}

.card-action {
	left: 0;
	right: 0;
}

.ml-12 {
	padding-left: 12px;
	padding-bottom: 20px;
}

.info {
	color: #777;
}

.info span {
	margin-left: 10px;
}

/*MESSAGES*/

.title {
	font-weight: bold;
}

.unread p {
	font-weight: bold;
}

.collection li:hover {
	background: #e1f5fe;
}

.col .mes-center {
	padding-right: 0 !important;
	margin-top: 15px;
}

.col .mes-right {
	padding-left: 0;
	margin-top: 15px;
}

.row .mb-0 {
	padding-top: 10px;
	margin-bottom: 0;
}

.message-input {
    margin-top: 138px !important;
}
